body{
  font-size: 18px;
  line-height: 1.625;
  color: #ffffff;
  font-family: Sans-Serif;
  background-color: #000000;
}
a:link {
  color: #00BFFF;
  background-color: transparent;
  text-decoration:none;
  border-style:inset;
  border-color:royalblue;
  border-radius:12px;
}
a:visited {
  color: #0037FF;
  background-color: transparent;
  text-decoration: none;
  border-style:inset;
  border-color:royalblue;
  border-radius:12px;
}
a:hover {
  color: #00FF00;
  background-color: transparent;
  text-decoration: underline;
  border-style:inset;
  border-color:royalblue;
  border-radius:12px;
}
a:active {
  color: #FFFF00;
  background-color: transparent;
  text-decoration: underline;
  border-style:inset;
  border-color:royalblue;
  border-radius:12px;
}
table, th, td {
  border: 2px solid rgb(255, 255, 255);
  border-collapse: collapse;
  border-style:outset;
  text-align:center;
}
a:link{
  text-decoration: none;
}
