/*body {
	font-size: 18px;
	line-height: 1.625;
	color: #ffffff;
	font-family: "Poppins";
	background-color: #323232;
	/*margin: 20px 20px 20px;*/ /*
}
a:link {
	color: #000000;
	background-color: #ff1e56;
	text-decoration: none;
	border: 3px solid#FFAC41;
	border-radius: 15px;
	padding: 5px;
}
a:visited {
	color: #000000;
	background-color: #ff1e56;
	text-decoration: none;
	border: 3px solid#FFAC41;
	border-radius: 15px;
	padding: 5px;
}
a:hover {
	color: #000000;
	background-color: #ff1e56;
	text-decoration: none;
	border: 3px solid#FFAC41;
	border-radius: 15px;
	padding: 5px;
}
a:active {
	color: #000000;
	background-color: #ff1e56;
	text-decoration: none;
	border: 3px solid#FFAC41;
	border-radius: 15px;
	padding: 5px;
}
table,
th,
td {
	border: 2px solid #ffffff;
	border-collapse: collapse;
	border-style: outset;
	text-align: center;
	vertical-align: middle;
}
a:link {
	text-decoration: none;
}
ul li {
	display: inline;
	white-space: nowrap;
}
ul,
li {
	display: block;
	list-style: none;
}
/*header {
	width: 100%;
	font-size: 28px;
	font-weight: bold;
}
nav {
	font-weight: normal;
	font-size: 20px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
.center2 {
	display: inline-block;
	margin: 5px 20px;
	padding: 5px;
	width: 300px;
}*/
/*.div_head {
	width: 100%;
	height: 200px;
	/*background-image: url(/pictures/zeldabotw.jpg);
	background-size:100%;*/
/*background-color: dodgerblue;
	margin-top: 0;
}*/
body {
	font-size: 18px;
	line-height: 1.625;
	color: #ffffff;
	font-family: "Poppins";
	background-color: #181818;
	margin: 0;
	padding: 0;
}

a:link {
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 0 10px;
	display: inline-block;
}

a:visited {
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
	border-radius: 15px;
	padding: 10px 20px;
	margin: 0 10px;
	display: inline-block;
}

a:hover {
	color: #ffffff;
	background-color: #353535;
	text-decoration: none;
	border-radius: 15px;
	padding: 10px 20px;
	margin: 0 10px;
	display: inline-block;
}

a:active {
	color: #ffffff;
	background-color: rgb(0, 0, 0);
	text-decoration: none;
	border-radius: 15px;
	padding: 10px 20px;
	margin: 0 10px;
	display: inline-block;
}

table,
th,
td {
	border: 2px solid #ffffff;
	border-collapse: collapse;
	border-style: outset;
	text-align: center;
	vertical-align: middle;
	width: 750px;
}
th {
	width: 150px;
}

ul li {
	display: inline;
	white-space: nowrap;
}

ul,
li {
	display: block;
	list-style: none;
}

.div_head {
	width: 100%;
	height: 200px;
	background-image: url(/pictures/zeldabotw.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div_head h1 {
	margin: 0;
}

.div_main {
	margin-left: 15%;
	margin-right: 15%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu {
	margin-top: 20px;
}

main {
	padding: 20px;
}

footer {
	clear: both;
	padding: 0px;
	text-align: right;
	position: relative;
	flex-direction: column;
	align-items: right;
}
