html * {
        font-size: 18px;
        line-height: 1.625;
        color: #FFFFFF;
        font-family: Sans-Serif;
}
        a:link {
  color: #00BFFF;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #0037FF;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #00FF00;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #FFFF00;
  background-color: transparent;
  text-decoration: underline;
}
.topnav {
  background-color: #000000;
  overflow: hidden;
}
