body{
  font-size: 18px;
  line-height: 1.625;
  color: #ffffff;
  font-family:'Poppins';
  background-color: #323232;
  margin:20px 20px 20px;
}
/*a:link{
  color: #000000;
  background-color: #FF1E56;
  text-decoration:none;
  border:3px solid#FFAC41;
  border-radius:15px;
  padding:5px;
}
a:visited{
  color: #000000;
  background-color: #FF1E56;
  text-decoration:none;
  border:3px solid#FFAC41;
  border-radius:15px;
  padding:5px;
}
a:hover{
  color: #000000;
  background-color: #FF1E56;
  text-decoration:none;
  border:3px solid#FFAC41;
  border-radius:15px;
  padding:5px;
}
a:active{
  color: #000000;
  background-color: #FF1E56;
  text-decoration:none;
  border:3px solid#FFAC41;
  border-radius:15px;
  padding:5px;
}*/
table, th, td {
  border: 2px solid #FFFFFF;
  border-collapse: collapse;
  border-style:outset;
  text-align:center;
  vertical-align:middle;
}
a:link{
  text-decoration: none;
}
ul li{
  display: inline;
  white-space: nowrap;
  
}
ul, li{
  display: block;
  list-style: none;
}
header{
  width: 100%;
  font-size: 28px;
  font-weight: bold;
}
nav{
  
  font-weight: normal;
  font-size: 20px;
}
