body{
  font-size: 18px;
  line-height: 1.625;
  color: #ffffff;
  font-family: Sans-Serif;
  background-color: #000000;
}
a:link{
  color: #00FFFF;
  background-color: transparent;
  text-decoration:none;
  border:1px solid#00FFFF;
}
a:visited{
  color: #00FFFF;
  background-color:transparent;
  text-decoration:none;
  border-style:1px solid #00FFFF;
}
a:hover{
  color: #00FFFF;
  background-color:transparent;
  text-decoration:underline;
  border-style:1px solid #00FFFF;
}
a:active{
  color: #00FFFF;
  background-color: transparent;
  text-decoration: underline;
  border-style:1px solid #00FFFF;
}
table, th, td {
  border: 2px solid rgb(255, 255, 255);
  border-collapse: collapse;
  border-style:outset;
  text-align:center;
}
a:link{
  text-decoration: none;
}
